@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

/*--------------------------------------------Header*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f4e842;
    min-height: 232px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.title {
    font-family: "Spicy Rice", sans-serif;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 75px;
    color: #f44141;
    text-align: center;

}

.hvr-fade:hover {
    background-color: #f4e842;

}

.hvr-fade:hover a {
    color: #f44141;

}

.menuitem {
    height: 45px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #f4e842;
    font-family: "Spicy Rice", sans-serif;
    font-size: medium;
    vertical-align: middle;


}

.bg-color-title {
    background-color: #f4e842;
}

.ui-menu-color-home {
    background-color: #f44141;
}

.ui-menu-color-gallery {
    background-color: #f44141;
}

.ui-menu-color-audiovideo {
    background-color: #f44141;
}

.ui-menu-color-contact {
    background-color: #f44141;
}

.bg-color-tourdates {
    background-color: #f44141;
}

.bg-color-news {
    background-color: #f44141;
}

.bg-color-contact {
    background-color: #f44141;
}

.bg-color-gallery {
    background-color: #f44141;
}

.bg-color-media {
    background-color: #f44141;
}

.uppercase {
    text-transform: uppercase;

}



/*--------------------------------------------Footer*/

footer {
    background-color: #f4e842;
    color: #f44141;
    min-height: 150px;
    font-family: "Spicy Rice", sans-serif;
    text-align: center;
}

footer h5 {
    font-size: 24px;
}

footer p {
    text-align: center;
    font-size: large;
    vertical-align: text-bottom;
}

.social-media li a i {
    height: 32px;
    width: 32px;
    color: #f44141;
    font-size: 25px;
    transition: all 0.35s ease-in-out;
    text-align: center;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-media li a i:hover {

    background-color: #f44141;
    color: #f4e842;
}

/*--------------------------------------------Section*/

.section-heading {
    font-family: "Spicy Rice", sans-serif;
    color: #f4e842;
    text-align: center;

}

section p {
    font-family: "Spicy Rice", sans-serif;
    color: #f4e842;
    text-align: center;

}

.article {
    text-align: left;
}




/*--------------------------------------------Hover.css*/

.hvr-fade:hover {
    background-color: #f4e842;

}

.hvr-fade:hover a {
    color: #f44141;

}





#nav li {
    padding: 0;
}


.contact-heading {
    font-family: "Spicy Rice", sans-serif;
    color: #f4e842;
    margin-top: 25px;
    margin-bottom: 20px;


}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

.contact-us {
    color: #f4e842;
}

section h5 {
    color: #f4e842;
}

section h1 {
    text-align: center;
    font-family: "Spicy Rice", sans-serif;
    margin-top: 10px;
    color: #f4e842;
}

/*-----------------------------------------------Gallery*/

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 auto;
  max-width: 70%;
  }

.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

section iframe {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: block;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f4e842;
    margin: 1em 0;
    padding: 0; 
}

.section-column {
    min-height: 320px;
}

.section-article {
    min-height: 320px;
}