@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

/*--------------------------------------------Header*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f4e842;
    min-height: 232px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.title {
    font-family: "Spicy Rice", sans-serif;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 75px;
    color: #f44141;
    text-align: center;

}

.hvr-fade:hover {
    background-color: #f4e842;

}

.hvr-fade:hover a {
    color: #f44141;

}

.menuitem {
    height: 45px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;

}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #f4e842;
    font-family: "Spicy Rice", sans-serif;
    font-size: medium;
    vertical-align: middle;


}

.bg-color-title {
    background-color: #f4e842;
}

.ui-menu-color-home {
    background-color: #f44141;
}

.ui-menu-color-gallery {
    background-color: #f44141;
}

.ui-menu-color-audiovideo {
    background-color: #f44141;
}

.ui-menu-color-contact {
    background-color: #f44141;
}

.bg-color-tourdates {
    background-color: #f44141;
}


.uppercase {
    text-transform: uppercase;

}

.section-column {
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
}

/*--------------------------------------------Footer*/

footer {
    background-color: #f4e842;
    color: #f44141;
    min-height: 150px;
    font-family: "Spicy Rice", sans-serif;
    text-align: center;
}

footer h5 {
    font-size: 24px;
}

footer p {
    text-align: center;
    font-size: large;
    vertical-align: text-bottom;
}

.social-media li a i {
    height: 32px;
    width: 32px;
    color: #f44141;
    font-size: 25px;
    transition: all 0.35s ease-in-out;
    text-align: center;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-media li a i:hover {

    background-color: #f44141;
    color: #f4e842;
}

/*--------------------------------------------Section*/

.section-heading {
    font-family: "Spicy Rice", sans-serif;
    color: #f4e842;
    text-align: center;

}




/*--------------------------------------------Hover.css*/

.hvr-fade:hover {
    background-color: #f4e842;

}

.hvr-fade:hover a {
    color: #f44141;

}



.col-md-8 {
    padding-right: 30px;
}

#nav li {
    padding: 0;
}

section {
}

